.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  font-weight: 600;
}

.subtotal__freeShipping {
  display: flex;
  align-items: flex-start;
  font-size: .75em;
  color: #1f1f1f;
  margin-bottom: 24px;
}

.subtotal__checkIcon, .subtotal__freeShippingEmphasis {
  color:#377B64;
}

.subtotal__checkIcon {
  margin-right: 10px;
}

.subtotal__freeShippingEmphasis__link {
  color: #306F83;
}

.subtotal__freeShippingEmphasis__link:hover {
  color: #B9582F;
  text-decoration: underline;
}

.subtotal__gift {
  margin: 9px 0;
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 6px;
}

.subtotal > button {
  background: rgb(242, 222, 168);
  background: linear-gradient(
    180deg,
    rgba(242, 222, 168, 1) 0%,
    rgba(233, 195, 97, 1) 100%
  );
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 2px;
  margin-top: 10px;
  padding: 5px 15px;
}

.subtotal> button:hover {
  background: rgb(239, 213, 145);
  background: linear-gradient(
    180deg,
    rgba(239, 213, 145, 1) 0%,
    rgba(230, 188, 81, 1) 100%
  );
}